*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base */
html {
  width: 100vw;
  font-family: "Oswald", serif;
  font-size: 14px;
}

body {
  margin: 0 auto;
}

/* Navigation */
nav {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 50px;
  overflow: hidden;
}

nav a {
  color: black;
  padding-left: 0.75rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}

nav a:hover {
  color: green;
  text-decoration: underline;
}

/* Main content */
main {
  width: 75vw;
  margin: 0 auto;
}

section {
  margin-top: 100px;
}

/* Blurb section */
.blurb {
  height: 300px;
}

.blurb h1 {
  text-transform: uppercase;
  font-size: 45px;
}

.blurb h2 {
  text-transform: lowercase;
  font-size: 32px;
  color: grey;
}

span {
  font-family: 'Noto Sans', serif;
}

/* Team section */
.team {
  height: 500px;
  width: 100%;
  display: flex;
  font-size: 24px;
  text-align: center;
}

.member, .image {
  background-size: cover;
  background-position: center;
}

.member {
  flex: 1 20px;
  padding-top: 30px;
  color: white;
}

.one {
  background-image: url("https://fieldreport.caes.uga.edu/wp-content/uploads/2025/04/C866-2-900x600-1.jpg");
}

.two {
  background-image: url("https://cosleyzoo.org/wp-content/uploads/Nine-banded-Armadillo.jpg");
  color: black;
}

.three {
  background-image: url("https://www.lakeway-tx.gov/ImageRepository/Document?documentId=37385");
}

.four {
  background-image: url("https://www.floridamuseum.ufl.edu/wp-content/uploads/sites/23/2020/05/armadillo-web-sized.jpg");
  color: black;
}

/* Our Work section */
.work {
  display: flex;
  justify-content: space-between;
}

.our-work h2 {
  text-align: right;
}

.container {
  width: 33%;
}

.image {
  height: 255px;
}

.container p {
  font-size: 4rem;
  font-style: italic;
  color: white;
  position: relative;
  top: -45px;
  height: 15%;
}

.first {
  background-image: url("https://smokieslife.org/wp-content/uploads/2025/08/3-Armadillo_iStock-joesboy.jpg");
}

.second {
  background-image: url("https://res.cloudinary.com/dgnvposhn/images/f_auto,q_auto/v1711121503/wordpress_assets/9-banded-armadillo-2/9-banded-armadillo-2.png?_i=AA");
}

.third {
  background-image: url("https://www.texasstandard.org/wp-content/uploads/2018/07/2353032705_c18e2a148a_b.jpg");
}

/* Footer */
footer {
  width: 100%;
  height: 300px;
  background-color: black;
  color: white;
  margin-top: 80px;
  padding-top: 50px;
}

footer a {
  color: white;
  text-decoration: none;
  display: inline-block;
  height: 50px;
}

footer a:hover {
  color: lightblue;
  text-decoration: underline;
}

.footer-content {
  width: 75vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-links {
  width: 250px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-button-copyright {
  width: 27%;
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.footer-button {
  font-size: 0.8rem;
  padding: 1em 2em;
  border-radius: 1.5rem;
  color: black;
  background: white;
  text-align: center;
}

copyright {
  font-size: 0.75rem;
  text-align: right;
  color: lightgrey;
}
